@import url ('https://fonts.googleapis.com/css2? family = Roboto & display = swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/showcase2.jpg);
    background-color: #000000a2;
    background-blend-mode: color;
}

/*Barra de navegação*/
#navbar {
    width: 100%;
    margin-top: 20px;
    color: #eee;
    position: absolute;
}

.navbar-container {
    width: 90%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: #c6c91d;
}
 
.navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar-items li {
    padding: 15px;
}

.navbar-a {
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
    font-weight: bold;
  }
  
  .navbar-a:before {
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.592) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.534) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .navbar-a:hover, .navbar-a:active, .navbar-a:focus {
    transform: translateY(-5px);
    color: #c6c91d;
  }
  .navbar-a:hover:before, .navbar-a:active:before, .navbar-a:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }

.logo {
    font-size: 2rem ;
}

.text-main {
    display: inline;
    justify-content: end;
    align-items: end;
    color: #eee;
}

main {
    position: absolute;
    margin-top: 100px;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 500px);
    column-gap: 15rem;
    justify-content: space-around;
}

.container-form {
    width: 300px;
    max-width: 100%;
    background: #d7d88af8;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 35vh;
    margin-top: 5vh;
}

.header {
    width: 300px;
    background: #d4d653;
    padding: 10px;
    text-align: center;
}

.form {
    padding: 10px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control textarea {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    cursor: pointer;
    background-color: #d4d653;
    border: 2px solid #bec04c;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.form button:hover {
    background: #c6c92ff8;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.text-main {
    margin-top: 30vh;
    text-align: center;
}

@media (max-width: 400px) {

    body {
       width: 100%;
    }

    #showcase {
        width: 100%;
    }

    #navbar {
        margin-top: 15px;
        margin-left: 0px;
    }

    .navbar-container {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }

    .navbar-items {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        justify-content: space-around;
        align-content: center;
    }